.ca-control-header {
  margin: 0 auto;
  font-size: 22px;
}

.ca-control-toolbar {
  background-color: #FFFFFF;
}

.control-card-padding {
  margin-top: 25px;
}

.button-indent {
  margin-top: 12px;
}

.generation-counter-indent {
  margin-top: 12px;
}
